
# Node.js
node_modules/
npm-debug.log
yarn-error.log

# TypeScript
*.js.map
*.d.ts

# IDE/Editor specific
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Build output
dist/
build/
out/
# env
.env
.env.local
.env.example

# Mac
.DS_Store
