{
    "singleQuote": true,
    "semi": false,
    "trailingComma": "all",
    "tabWidth": 2,
    "quoteProps": "as-needed",
    "bracketSpacing": true,
    "jsxBracketSameLine": true,
    "arrowParens": "always"
  }
  